.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f3f3f3;
}

.login-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  width: 320px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-card button {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  margin-top: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #0059e1;
}
